.Data {
    background-image: url('../assets/BackgroundData.png');
    background-size: cover;
    height: 100vh;
    color: var(--texto-branco);
}

.Data__description {
    padding: 2em 0em 0em 0em;
    width: 45%;
    margin: auto;
}

.Data__description__title {
    color: var(--lilas);
    font-weight: 600;
    font-size: 40px;
}

.Data__description__text {
    margin: auto;
    padding: 2em 0 2em 0;
    font-weight: 500;
    width: 70%;
}

.Data__dashboard {
    width: 48%;
    border: 1px solid var(--lilas);
    border-radius: 30px;
    cursor: pointer;
    transition: width .3s;
}

.Data__dashboard:hover {
    width: 50%;
}

/* Responsivo */

@media screen and (min-width: 1728px) {
    .Data__description {
        padding: 5em 0em 0em 0em;
    }

    .Data__dashboard {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 428px) {
    .Data__description {
        width: 85%;
        padding: 0;
    }

    .Data__description__title {
        font-size: 30px;
        padding: 2em 0em 0em 0em;
    }

    .Data__description__text {
        font-size: 20px;
        width: 100%;
    }

    .Data__dashboard {
        margin-top: 5rem;
        width: 90%;
    }
}