footer {
    border-top: 3px solid var(--roxo-escuro);
    background-image: url('../assets/BackgroundFooter.png');
    height: 80vh;
    background-size: cover;
    text-align: left;
    padding: 6em;
    box-sizing: border-box;
    color: var(--texto-branco);
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 0 0 3em ;
}

.logo__text {
    color: var(--texto-azul);
    font-weight: 500;
}

.logo__text span{
    font-weight: 700;
}

.info {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.info a {
    text-decoration: none;
    color: var(--texto-branco);
}

.info__item__titulo {
    color: var(--texto-cinza);
}

.info__item {
    padding: 1em 0;
    cursor: pointer;
}

.info__item:hover {
    border-bottom: 1px solid var(--texto-azul);
}

.footer__down {
    padding: 2em 0 0 0;
    text-align: center;
    border-top: 1px solid var(--texto-cinza);
    color: var(--texto-cinza);
    width: 80%;
    margin: auto;
}

.footer__down a {
    color: var(--texto-cinza);
}

.footer__down a:hover {
    color: var(--lilas);
    transition: .5s;
}

/* Responsivo */

@media screen and (min-width: 1728px) {
    footer {
        height: 60vh;
        background-size: 78%;
        background-position: center;
    }
}