.Home {
    background-image: url('../assets/BackgroundHome.png');
    background-size: cover;
    height: 100vh;
    color: var(--texto-branco);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}

.logo {
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 3em;
}

.logo__texto {
    margin-left: .5em;
}

.logo__texto__destaque {
    font-weight: 700;
}

.headerR {
    display: flex;
    align-items: center;
    padding: 0 3em;
}

.button {
    padding: 0 4em;
}

.button__login {
    color: var(--texto-branco);
    background-color: transparent;
    border-radius: 200px;
    font-weight: 600;
    border: 4px solid var(--cor-botao);
    padding: 10px 40px;
    box-sizing: border-box;
    margin-right: 2em;
    cursor: pointer;
}

.button__NewAccount {
    color: var(--texto-branco);
    background-color: var(--cor-botao);
    border-radius: 200px;
    font-weight: 600;
    padding: 10px 25px;
    border: 4px solid var(--cor-botao); 
    box-sizing: border-box;
    cursor: pointer;
}

.menu__hamburger {
    width: 2.5em;
    height: 1.1em;
    background-image: url('../assets/menu_hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.lista__menu {
    text-align: center;
    gap: 10%;
    background-color: aqua;
    position: absolute;
    display: none;
    top: 10%;
    left: 92%;
    width: 8vw;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.center {
    display: flex;
    align-items: center;
    padding: 3em 0 0 2em;
}

.center__left {
    text-align: left;
    width: 50em;
}

.center__left__titulo {
    font-weight: 600;
    font-size: 45px;
}

.titulo__destaque {
    color: var(--cor-botao);
}

.center__left__texto {
    padding: 2em 0;
}

.button__OpenAccount {
    color: var(--texto-branco);
    background-color: var(--cor-botao);
    border-radius: 6px;
    font-weight: 600;
    padding: 15px 25px;
    border: 4px solid var(--cor-botao); 
    box-sizing: border-box;
    cursor: pointer;
}

.center__left__cards {
    margin-left: 9em;
    width: 38em;
}

.partners {
    height: 3.5em;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 0 0 1em 0;
}
